html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
}

body {
    width: 100%;
    height: 800px;
    padding: 0px;
    margin: auto;
    background-color: lightgray;
}

#headMenu, #footer {
    margin: auto;
    width: 95%;
    height: 30px;
    padding-bottom: 30px;
    background-color: lightblue;
}

#footer p {
    text-align: center;
}

#headMenu h1 {
    text-align: center;
    font-size: 30px;
}

#main {
    margin: auto;
    width: 95%;
    height: 630px;
    background-color: lightblue;
}

#main h2 {
    text-align: left;
    font-size: 25px;
    padding-bottom: 10px;
    margin-left: 5px;
}

#term {
    text-align: left;
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-left: 25px;
}

table {
    margin-left: 25px;
}

td {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#aButton, #bButton, #cButton, #dButton {
    background-color: green;
    color: white;
}

#A, #B, #C, #D {
    font-size: 18px;
}

#result {
    padding-top: 10px;
    padding-bottom: 10px;
}

#another {
    background-color: blue;
    color: white;
}

.correct {
    color: darkgreen;
    font-size: 20px;
}

.incorrect {
    color: red;
    font-size: 20px;
}